p{
    text-align: center;
    font-size: xx-large;
    margin: 6px;
}

.stopwatch-container{
    width: 20rem;
    background-color: aqua;
    padding: 12px 16px;
    margin-bottom: 12px;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

button{
    height: 3rem;
    width: 6rem;
    border-radius: 50px;
    border: 0px;
}